## 0. Importing and reading df with sales

In [221]:
import pandas as pd

In [235]:
df = pd.read_csv('../data2/raw/clientes_sku_ventas.csv')

## 1. Cleaning ##

- Cleaning VAT column. The one will use to merge with the companies enriched dataset

In [236]:
df['vat'] = df['vat'].str.replace('ES','')
df['vat'] = df['vat'].str.strip()

- Cleaning name.1 column. The one will use to merge with the categorized sku dataset

In [237]:
df['name.1'] = df['name.1'].str.strip()
df['name.1'] = df['name.1'].str.replace('PO:','')

- creating a 'sku' column

In [238]:
df['sku'] = df['name.1'].str.extract('\[(.+)\]', expand=True)

- Recounting number of null values in new 'sku' column

In [239]:
df[df['sku'].isnull()]['name.1'].value_counts()

SERVICIOS DE REPARACION                                 267
DS9208-SR KIT USB EMEA U21                              223
SUMINISTROS VARIOS                                      152
Shipping and Handling                                   138
VOYAGER 9520 USB BLACK KIT MASKED STAND + HARD MOUNT    116
                                                       ...
RIBBON IMPRESORA ZEBRA 29373773                           1
PSU EU FOR OPTIMUS                                        1
CABLE I/F CHARGE/COMM USB FOR ACTSYNC MX8                 1
ZM400 300DPI ZPL VPEEL LINER TAKEUP                       1
PSU MULTI DOCK CK3                                        1
Name: name.1, Length: 2802, dtype: int64

Reindexing neede to do a loop for

- Manually assigning 'sku' values to top seller products with incorrect "name.1" codification

In [240]:
for i in range(len(df)):
    if df.loc[i,'name.1'] == 'DS9208-SR KIT USB EMEA U21':
        df.loc[i,'sku'] = 'DS9208-SR4NNU21Z'
    elif df.loc[i,'name.1'] == 'VOYAGER 9520 USB BLACK KIT MASKED STAND + HARD MOUNT':
        df.loc[i,'sku'] = 'MK9520-32A38'
    elif df.loc[i,'name.1'] == 'GK420D DT 203DPI USB SER PARAL LEL R2.0':
        df.loc[i,'sku'] = 'GK42-200120-000'
    elif df.loc[i,'name.1'] == 'VOYAGER MS9520 KIT USB BLACK MASKED STAND + HARD MOUNT':
        df.loc[i,'sku'] = 'MK9520-32A38'
    elif df.loc[i,'name.1'] == 'CN3 WIFI BTH  2D IMGR NUM 128/256 WM6,1':
        df.loc[i,'sku'] = 'CN3BNH80000E400'
    elif df.loc[i,'name.1'] == 'GK420T TT 203DPI USB SER PARAL LEL R2.0':
        df.loc[i,'sku'] = 'GK42-100120-000'
    elif df.loc[i,'name.1'] == 'SERVICIOS DE REPARACION':
        df.loc[i,'sku'] = 'Repair'
    elif df.loc[i,'name.1'] == 'LS2208 KIT USB BLACK STAND N':
        df.loc[i,'sku'] = 'LS2208-7AZU0100S'
    elif df.loc[i,'name.1'] == 'Shipping and Handling':
        df.loc[i,'sku'] = 'Shipping and Handling'
    elif df.loc[i,'name.1'] == 'ECLIPSE 5145 USB BLACK KIT NO STAND CG CANNOT BE DEACTIVA':
        df.loc[i,'sku'] = 'MK5145-71A38-EU'
    elif df.loc[i,'name.1'] == 'CABLE POWER   2M EU     TO IEC':
        df.loc[i,'sku'] = 'AK5015'
    elif df.loc[i,'name.1'] == 'VOYAGER 1200G BLACK USB KIT RIGID STAND / TYPE-A USB CABLE':
        df.loc[i,'sku'] = '1200g-2USB-1F02'
    elif df.loc[i,'name.1'] == 'VOYAGER-GS 1250G BLACK SCANNER':
        df.loc[i,'sku'] = '1250G-2KBW-1'
    elif df.loc[i,'name.1'] == 'SUMINISTROS VARIOS':
        df.loc[i,'sku'] = 'unknown'
    elif df.loc[i,'name.1'] == 'MISCELLANEOUS':
        df.loc[i,'sku'] = 'unknown'
    elif df.loc[i,'name.1'] == 'QUANTUM-E IS3480 RS232 EU KIT EU PSU + POWERLINK CABLE':
        df.loc[i,'sku'] = 'MK3480-30B41'
    elif df.loc[i,'name.1'] == 'RBN IX SERIES YMCKO  ZXP3':
        df.loc[i,'sku'] = '800033-344'
    elif df.loc[i,'name.1'] == 'QUICKSCAN MOBILE M2130 BLK KIT 433 MHZ USB W/BASE-CBL':
        df.loc[i,'sku'] = 'QD2130-BKK11S'
    elif df.loc[i,'name.1'] == 'MC75A6 HSDPA, 802.11a/b/g, 1D Cam Numeric WM6':
        df.loc[i,'sku'] = 'MC75A6-P0CSWQRA9WR'

- References not classified yet

In [241]:
df[df['sku'].isnull()]['name.1'].value_counts()

KIT CRD PVC BLANK 30MIL 500C/B                                 65
CRD SGL SLOT KIT ES INTL                                       53
CS 3070 BATCH/BT USB  1D LZR LSR 512M F/EMEA+APAC+LA           49
RIB 2300WAX 110MMX74M 12R/B                                    45
RIB 2300WAX 64MMX74M 12R/B                                     41
                                                               ..
PRINTHEAD 203DPI 220XiIII 220XiII                               1
CBL MC55/MC65 USB CHARGING                                      1
I4208 DT/TT CSI EU/UK 203DPI DNET 3HUB                          1
BASE CHRGING CLASS1 BT 10M 33' CAN CONNECT UP TO 7 SCANNERS     1
GX420T TT 203DPI USB SER ETH CUTTER R2.0                        1
Name: name.1, Length: 2783, dtype: int64

- For 'sku' affected by the expanded column that are not readable, change them to common category

In [242]:
for i in range(len(df)):
    if df.loc[i,'sku'] == 'SHIP':
        df.loc[i,'sku'] = 'Shipping and Handling'
    if df.loc[i,'sku'] == 'TR.EXPRESS':
        df.loc[i,'sku'] = 'Shipping and Handling'
    if df.loc[i,'sku'] == 'SSREP':
        df.loc[i,'sku'] = 'Repair'
    if df.loc[i,'sku'] == 'DIF-PREC':
        df.loc[i,'sku'] = 'Price-offer'
    if df.loc[i,'sku'] == 'DISCOUNT.PP':
        df.loc[i,'sku'] = 'Price-offer'
    if df.loc[i,'sku'] == 'DESC.PP':
        df.loc[i,'sku'] = 'Price-offer'
    if df.loc[i,'sku'] == 'EUR-MISC':
        df.loc[i,'sku'] = 'unknown'

In [243]:
df['sku'].value_counts()

Shipping and Handling    5575
Repair                    596
unknown                   304
DS9208-SR4NNU21Z          224
MK9520-37A38              221
                         ...
ZT22042-T2E000FZ            1
ZM400-200E-0700T            1
942301002                   1
GX42-100320-000             1
73152                       1
Name: sku, Length: 2527, dtype: int64

In [244]:
df.head()

,id,name,vat,name.1,price_subtotal,quantity,sku
0,47053,W3CAN INFORMATICA S.L.,B76645456,[MC75A6-PYCSWQRA9WR] MC75A6 HSDPA WLAN 1D Came...,46152.33,30.0,MC75A6-PYCSWQRA9WR
1,32415,.,A48010615,[DS9808-KITSERIE] DS9808 SR LECTOR KIT SERIE,43195.00,265.0,DS9808-KITSERIE
2,36952,CONTABILIDAD,B85991941,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",31612.15,29.0,MC75A6-PYCSWRRA9WR
3,3371,INTERFLEX S.L.,B08213621,[CN3-BRZDC3] CN3A/B BRONZE 3 DAYS RTB 3 YEA IN...,30092.70,110.0,CN3-BRZDC3
4,10894,"FERROVIAL, S.A",A81939209,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",29424.03,1.0,MC75A6-PYCSWRRA9WR

Deleting columns that are not needed

In [245]:
df.drop(columns=['name','name.1'], inplace = True)

In [246]:
df.head()

      id        vat  price_subtotal  quantity                 sku
0  47053  B76645456        46152.33      30.0  MC75A6-PYCSWQRA9WR
1  32415  A48010615        43195.00     265.0     DS9808-KITSERIE
2  36952  B85991941        31612.15      29.0  MC75A6-PYCSWRRA9WR
3   3371  B08213621        30092.70     110.0          CN3-BRZDC3
4  10894  A81939209        29424.03       1.0  MC75A6-PYCSWRRA9WR

# Exporting df to a csv on a .gitignore folder #
(because it has client personal details)

In [247]:
df.to_csv('../data2/processed/sales_clean.csv', index = False)