# Processing the exported dataframe from Magento database#
     With details of the products and their category associated

Both dataframes are in a folder register into .gitignore

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('../data2/raw/logiscenter_com.csv',delimiter=';',low_memory=False)

In [14]:
df.head()

,entity_id,sku,manufacturer,modelo,variant,descatalogado,attribute_set,category_ids,category_names*
0,293,MOD-110PAX4,Zebra,Zebra 110PAX4,model,1.0,Label Printer,458,Obsoleto - Descatalogado
1,294,MOD-110XiIII,Zebra,Zebra 110XIIII,model,1.0,Label Printer,"120,458","Zebra Technologies,Obsoleto - Descatalogado"
2,295,MOD-140XiIII,Zebra,Zebra 140XIIII,model,1.0,Label Printer,"120,458","Zebra Technologies,Obsoleto - Descatalogado"
3,296,MOD-170PAX4,Zebra,Zebra 170PAX4,model,1.0,Label Printer,458,Obsoleto - Descatalogado
4,297,MOD-170XiIII,Zebra,Zebra 170XIIII,model,1.0,Label Printer,"120,458","Zebra Technologies,Obsoleto - Descatalogado"

In [15]:
df['attribute_set'].value_counts()

Accessories                101716
Mobile Computing            10786
Label Printer               10645
Other                        6778
Scanner                      5850
Card Printer                 2843
Ticket Printer               2001
Touch Screen & Computer      1235
Ribbon                        697
RFID                          536
Label                         285
Printhead                     266
Card Ribbon                   260
Wristband                      67
Card                           30
Tickets                        22
Supply                         20
Name: attribute_set, dtype: int64

Dropping columns that are not needed

In [16]:
df.drop(columns=['entity_id','modelo','manufacturer','descatalogado','variant','category_ids','category_names*'], inplace=True)

In [17]:
df.head(2)

            sku  attribute_set
0   MOD-110PAX4  Label Printer
1  MOD-110XiIII  Label Printer

# Exporting df to a csv on a .gitignore folder #
(because it has businessl details)

In [18]:
df.to_csv('../final_data/processed/catalogue_clean.csv', index = False)