## 0. Importing and reading df with sales

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data2/raw/clientes_sku_ventas.csv')

In [3]:
df

,id,name,vat,name.1,price_subtotal,quantity
0,47053,W3CAN INFORMATICA S.L.,ESB76645456,[MC75A6-PYCSWQRA9WR] MC75A6 HSDPA WLAN 1D Came...,46152.33,30.0
1,32415,.,ESA48010615,[DS9808-KITSERIE] DS9808 SR LECTOR KIT SERIE,43195.00,265.0
2,36952,CONTABILIDAD,ESB85991941,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",31612.15,29.0
3,3371,INTERFLEX S.L.,ESB08213621,[CN3-BRZDC3] CN3A/B BRONZE 3 DAYS RTB 3 YEA IN...,30092.70,110.0
4,10894,"FERROVIAL, S.A",ESA81939209,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",29424.03,1.0
...,...,...,...,...,...,...
25974,45503,AMBAR SOFWARE SLNE,ESB65099012,[MISCELLANEOUS] MISCELLANEOUS,-2400.00,20.0
25975,29916,AMEFRUIT ZARAGOZA EXPORTS.L.,ESB98560816,[DIF-PREC] DIFERENCIA DE PRECIOS,-2700.00,2700.0
25976,94038,"24 KILATES, S.L.",ESB63697387,[DISCOUNT.PP] SPECIAL DISCOUNT,-2773.29,1.0
25977,36954,COMPRAS,ESA08193963,[DESC.PP] DESCUENTO ESPECIAL POR PRONTO PAGO,-4959.38,1.0
25978,102667,PAIN TRAITEUR S.L.,ESB31926488,[CN70AN1KNU3W2100] CN70 WIFI BTH UMTS 2D IMGR ...,-12273.66,9.0

## 1. Cleaning ##

- Cleaning VAT column. The one will use to merge with the companies enriched dataset

In [4]:
df['vat'] = df['vat'].str.replace('ES','')
df['vat'] = df['vat'].str.strip()

- Cleaning name.1 column. The one will use to merge with the categorized sku dataset

In [5]:
df['name.1'] = df['name.1'].str.strip()
df['name.1'] = df['name.1'].str.replace('PO:','')

- creating a 'sku' column

In [6]:
df['sku'] = df['name.1'].str.extract('\[(.+)\]', expand=True)

- Recounting number of null values in new 'sku' column

In [7]:
df[df['sku'].isnull()]['name.1'].value_counts()

SERVICIOS DE REPARACION                                       267
DS9208-SR KIT USB EMEA U21                                    223
SUMINISTROS VARIOS                                            152
Shipping and Handling                                         138
VOYAGER 9520 USB BLACK KIT MASKED STAND + HARD MOUNT          116
                                                             ...
O  3800G PDF IMAGER SCANNER IVORY + COILED KBW + QSG            1
I4310e TT EU/UK 300DPI 3HUB AU TO DETECT DPL,PLZ & PLI          1
RESTAURANTE JOSE LUIS                                           1
SKORPIO X3 WIFI A/B/G BT 1D LS R 28KEY 256/512 WE6,5 GSPOT      1
HESPEDERIA MADRID                                               1
Name: name.1, Length: 2802, dtype: int64

Reindexing neede to do a loop for

- Manually assigning 'sku' values to top seller products with incorrect "name.1" codification

In [8]:
for i in range(len(df)):
    if df.loc[i,'name.1'] == 'DS9208-SR KIT USB EMEA U21':
        df.loc[i,'sku'] = 'DS9208-SR4NNU21Z'
    elif df.loc[i,'name.1'] == 'VOYAGER 9520 USB BLACK KIT MASKED STAND + HARD MOUNT':
        df.loc[i,'sku'] = 'MK9520-32A38'
    elif df.loc[i,'name.1'] == 'GK420D DT 203DPI USB SER PARAL LEL R2.0':
        df.loc[i,'sku'] = 'GK42-200120-000'
    elif df.loc[i,'name.1'] == 'VOYAGER MS9520 KIT USB BLACK MASKED STAND + HARD MOUNT':
        df.loc[i,'sku'] = 'MK9520-32A38'
    elif df.loc[i,'name.1'] == 'CN3 WIFI BTH  2D IMGR NUM 128/256 WM6,1':
        df.loc[i,'sku'] = 'CN3BNH80000E400'
    elif df.loc[i,'name.1'] == 'GK420T TT 203DPI USB SER PARAL LEL R2.0':
        df.loc[i,'sku'] = 'GK42-100120-000'
    elif df.loc[i,'name.1'] == 'SERVICIOS DE REPARACION':
        df.loc[i,'sku'] = 'Repair'
    elif df.loc[i,'name.1'] == 'LS2208 KIT USB BLACK STAND N':
        df.loc[i,'sku'] = 'LS2208-7AZU0100S'
    elif df.loc[i,'name.1'] == 'Shipping and Handling':
        df.loc[i,'sku'] = 'Shipping and Handling'
    elif df.loc[i,'name.1'] == 'ECLIPSE 5145 USB BLACK KIT NO STAND CG CANNOT BE DEACTIVA':
        df.loc[i,'sku'] = 'MK5145-71A38-EU'
    elif df.loc[i,'name.1'] == 'CABLE POWER   2M EU     TO IEC':
        df.loc[i,'sku'] = 'AK5015'
    elif df.loc[i,'name.1'] == 'VOYAGER 1200G BLACK USB KIT RIGID STAND / TYPE-A USB CABLE':
        df.loc[i,'sku'] = '1200g-2USB-1F02'
    elif df.loc[i,'name.1'] == 'VOYAGER-GS 1250G BLACK SCANNER':
        df.loc[i,'sku'] = '1250G-2KBW-1'
    elif df.loc[i,'name.1'] == 'SUMINISTROS VARIOS':
        df.loc[i,'sku'] = 'unknown'
    elif df.loc[i,'name.1'] == 'MISCELLANEOUS':
        df.loc[i,'sku'] = 'unknown'
    elif df.loc[i,'name.1'] == 'QUANTUM-E IS3480 RS232 EU KIT EU PSU + POWERLINK CABLE':
        df.loc[i,'sku'] = 'MK3480-30B41'
    elif df.loc[i,'name.1'] == 'RBN IX SERIES YMCKO  ZXP3':
        df.loc[i,'sku'] = '800033-344'
    elif df.loc[i,'name.1'] == 'QUICKSCAN MOBILE M2130 BLK KIT 433 MHZ USB W/BASE-CBL':
        df.loc[i,'sku'] = 'QD2130-BKK11S'
    elif df.loc[i,'name.1'] == 'MC75A6 HSDPA, 802.11a/b/g, 1D Cam Numeric WM6':
        df.loc[i,'sku'] = 'MC75A6-P0CSWQRA9WR'

- References not classified yet

In [9]:
df[df['sku'].isnull()]['name.1'].value_counts()

KIT CRD PVC BLANK 30MIL 500C/B                                65
CRD SGL SLOT KIT ES INTL                                      53
CS 3070 BATCH/BT USB  1D LZR LSR 512M F/EMEA+APAC+LA          49
RIB 2300WAX 110MMX74M 12R/B                                   45
PRODUCTOS VARIOS                                              41
                                                              ..
FOCUS MS1690 KBW KIT,EU PSU COILED CBL,STND RANGE,GRY SCNR     1
IMPRESORA TÃ‰RMICA TICKETS PR-GP80 USB, ETHERNET                1
SERVICIOS DE REPARACION IVECO                                  1
PRINTHD 203DPI T4M/SL4M                                        1
MX8 QUALITY PASS 3 YEARS FROM NEW                              1
Name: name.1, Length: 2783, dtype: int64

- For 'sku' affected by the expanded column that are not readable, change them to common category

In [10]:
for i in range(len(df)):
    if df.loc[i,'sku'] == 'SHIP':
        df.loc[i,'sku'] = 'Shipping and Handling'
    if df.loc[i,'sku'] == 'TR.EXPRESS':
        df.loc[i,'sku'] = 'Shipping and Handling'
    if df.loc[i,'sku'] == 'SSREP':
        df.loc[i,'sku'] = 'Repair'
    if df.loc[i,'sku'] == 'DIF-PREC':
        df.loc[i,'sku'] = 'Price-offer'
    if df.loc[i,'sku'] == 'DISCOUNT.PP':
        df.loc[i,'sku'] = 'Price-offer'
    if df.loc[i,'sku'] == 'DESC.PP':
        df.loc[i,'sku'] = 'Price-offer'
    if df.loc[i,'sku'] == 'EUR-MISC':
        df.loc[i,'sku'] = 'unknown'

In [11]:
df['sku'].value_counts()

Shipping and Handling    5575
Repair                    596
unknown                   304
DS9208-SR4NNU21Z          224
MK9520-37A38              221
                         ...
800015-240                  1
45-45619                    1
OB13112010091102            1
238-000-001                 1
GP-021-G50007-000           1
Name: sku, Length: 2527, dtype: int64

In [244]:
df.head()

,id,name,vat,name.1,price_subtotal,quantity,sku
0,47053,W3CAN INFORMATICA S.L.,B76645456,[MC75A6-PYCSWQRA9WR] MC75A6 HSDPA WLAN 1D Came...,46152.33,30.0,MC75A6-PYCSWQRA9WR
1,32415,.,A48010615,[DS9808-KITSERIE] DS9808 SR LECTOR KIT SERIE,43195.00,265.0,DS9808-KITSERIE
2,36952,CONTABILIDAD,B85991941,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",31612.15,29.0,MC75A6-PYCSWRRA9WR
3,3371,INTERFLEX S.L.,B08213621,[CN3-BRZDC3] CN3A/B BRONZE 3 DAYS RTB 3 YEA IN...,30092.70,110.0,CN3-BRZDC3
4,10894,"FERROVIAL, S.A",A81939209,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",29424.03,1.0,MC75A6-PYCSWRRA9WR

Deleting columns that are not needed

In [12]:
df.drop(columns=['name','name.1'], inplace = True)

In [13]:
df.head()

      id        vat  price_subtotal  quantity                 sku
0  47053  B76645456        46152.33      30.0  MC75A6-PYCSWQRA9WR
1  32415  A48010615        43195.00     265.0     DS9808-KITSERIE
2  36952  B85991941        31612.15      29.0  MC75A6-PYCSWRRA9WR
3   3371  B08213621        30092.70     110.0          CN3-BRZDC3
4  10894  A81939209        29424.03       1.0  MC75A6-PYCSWRRA9WR

# Exporting df to a csv on a .gitignore folder #
(because it has client personal details)

In [14]:
df.to_csv('../final_data/processed/sales_clean.csv', index = False)