In [1]:
import pandas as pd

In [9]:
companies = pd.read_csv('../data2/processed/final_cifs_enrich.csv', index_col = 0)

In [12]:
companies = companies.drop(columns = ['index', 'Unnamed: 0.1'])

In [13]:
companies['provincia'] = companies['Localidad'].str.extract('\((.+)\)', expand=True)

In [26]:
companies = companies.drop(columns = ['Localidad', 'Actividad Informa', 'Objeto Social','Forma Juridica'])

In [34]:
companies['provincia'] = companies['provincia'].astype(str)
companies['CNAE'] = companies['CNAE'].astype(str)

Lets do some LabelEncoder

In [31]:
from sklearn.preprocessing import LabelEncoder

In [35]:
labelencoder = LabelEncoder()

companies['provincia_encoded'] = labelencoder.fit_transform(companies['provincia'])
companies['cnae_encoded'] = labelencoder.fit_transform(companies['CNAE'])

In [36]:
companies

,vat,CNAE,provincia,provincia_encoded,cnae_encoded
0,A28415495,3212 - Fabricación de artículos de joyería y ...,Madrid,30,199
1,B12026183,4631 - Comercio al por mayor de frutas y hort...,Castellón,11,263
2,B64898562,6201 - Actividades de programación informática,Barcelona,7,375
3,A59555466,7112 - Servicios técnicos de ingeniería y otr...,Barcelona,7,403
4,A58244096,"2030 - Fabricación de pinturas, barnices y re...",Barcelona,7,101
...,...,...,...,...,...
8330,Y3993172H,nan,nan,53,497
8331,E40566135,nan,nan,53,497
8332,32791005C,nan,nan,53,497
8333,50763821S,nan,nan,53,497
8334,51070159Q,nan,nan,53,497

In [37]:
companies.to_csv('../data2/processed/final_companies.csv')